USE [master]
GO
/****** Object:  Database [STOKTAKIP]    Script Date: 30.01.2022 22:57:10 ******/
CREATE DATABASE [STOKTAKIP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STOKTAKIP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\STOKTAKIP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'STOKTAKIP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\STOKTAKIP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STOKTAKIP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STOKTAKIP]
GO
/****** Object:  Schema [Cari]    Script Date: 30.01.2022 22:57:11 ******/
CREATE SCHEMA [Cari]
GO
/****** Object:  Schema [Sistem]    Script Date: 30.01.2022 22:57:11 ******/
CREATE SCHEMA [Sistem]
GO
/****** Object:  Table [Cari].[Hesaplar]    Script Date: 30.01.2022 22:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cari].[Hesaplar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HesapAdi] [nvarchar](max) NULL,
	[HesapTuru] [nvarchar](50) NULL,
	[Telefon] [nvarchar](max) NULL,
	[Adres] [nvarchar](max) NULL,
	[InsertDate] [datetime] NULL CONSTRAINT [DF_Hesaplar_InsertDate]  DEFAULT (getdate()),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_Hesaplar_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Hesaplar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Cari].[Islemler]    Script Date: 30.01.2022 22:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cari].[Islemler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [date] NULL,
	[Islem] [int] NULL,
	[HesapId] [int] NULL,
	[UrunId] [int] NULL,
	[Adet] [int] NULL,
	[SatisFiyat] [decimal](18, 2) NULL,
	[Kdv] [decimal](18, 2) NULL,
	[VergisizFiyat] [decimal](18, 2) NULL,
	[Tutar] [decimal](18, 2) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[InsertDate] [datetime] NULL,
	[LastModify] [datetime] NULL,
	[IsDeleted] [bit] NULL CONSTRAINT [DF_Islemler_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Islemler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Cari].[Stoklar]    Script Date: 30.01.2022 22:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cari].[Stoklar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [date] NULL,
	[Adi] [nvarchar](150) NULL,
	[KategoriId] [int] NULL,
	[MarkaId] [int] NULL,
	[Ozellik] [nvarchar](max) NULL,
	[Adet] [int] NULL,
	[Alis] [decimal](18, 2) NULL,
	[Satis] [decimal](18, 2) NULL,
	[LastModify] [datetime] NULL,
	[InsertDate] [datetime] NULL CONSTRAINT [DF_Stoklar_InsertDate]  DEFAULT (getdate()),
	[Barkod] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL CONSTRAINT [DF_Stoklar_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Stoklar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Temalar]    Script Date: 30.01.2022 22:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temalar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEMA] [nvarchar](max) NULL,
 CONSTRAINT [PK_Font] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Sistem].[Islem]    Script Date: 30.01.2022 22:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistem].[Islem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Islem] [nvarchar](10) NULL,
 CONSTRAINT [PK_Islem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Sistem].[Kategoriler]    Script Date: 30.01.2022 22:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistem].[Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[InsertDate] [datetime] NULL CONSTRAINT [DF_Kategoriler_InsertDate]  DEFAULT (getdate()),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_Kategoriler_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Sistem].[Kullanicilar]    Script Date: 30.01.2022 22:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistem].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Sifre] [nvarchar](20) NULL,
	[IsDeleted] [bit] NULL CONSTRAINT [DF_Kullanicilar_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Sistem].[Markalar]    Script Date: 30.01.2022 22:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sistem].[Markalar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](max) NULL,
	[InsertDate] [datetime] NULL CONSTRAINT [DF_Markalar_InsertDate]  DEFAULT (getdate()),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_Markalar_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Markalar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
